<!DOCTYPE html>
<html>
<head>
    <title>Dogs</title>
</head>
<body>
    <h1>All Dogs</h1>
    <ul>
        <% dogs.forEach(dog => { %>
            <li>
                <a href="/dogs/<%= dog._id %>"><%= dog.name %></a>
                (<a href="/dogs/<%= dog._id %>/edit">edit</a>)
                <form action="/dogs/<%= dog._id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
    <a href="/dogs/new">Add New Dog</a>
</body>
</html>
