<!DOCTYPE html>
<html>
<head>
    <title>New Dog</title>
</head>
<body>
    <h1>Add a New Dog</h1>
    <form action="/dogs" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="breed">Breed:</label>
        <input type="text" id="breed" name="breed" required><br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>
        <label for="vaccinated">Vaccinated:</label>
        <input type="checkbox" id="vaccinated" name="vaccinated"><br>
        <button type="submit">Add Dog</button>
    </form>
</body>
</html>
